@inherits LayoutComponentBase
@inject IAuthenticationService Auth
@attribute [Authorize]
@inject IServicioApi HTTP




<NavMenu OnPanelToggled="HandlePanelToggled" />


<div class="@AppWrapperClass">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-fluid w-100 h-100">
            @Body
        </div>
    </div>

    <footer class="app-footer">
        <div class="container text-center py-3">
        </div>
    </footer>
</div>


 @code {
    string AppWrapperClass { get; set; } = "app-wrapper-collapse";

    void HandlePanelToggled(bool isCollapsed)
    {
        AppWrapperClass = isCollapsed ? "app-wrapper-collapse" : "app-wrapper-visible";
    }

    protected override async void OnAfterRender(bool firstRender)
    {

        if (firstRender)
        {
            await CargarUsuario();
            await Validar();
        }

    }


    private async Task CargarUsuario()
    {
        try
        {
            Usuario usuario = await Auth.GetUser();
            clsUtilitarios.miUsuarioLogueado = usuario; 
            StateHasChanged();
        }
        catch (Exception ex)
        {
        }
    }

    private async Task Validar()
    {
        try
        {            
            StateHasChanged();
            Usuario usuario = clsUtilitarios.miUsuarioLogueado;

            Respuesta respuesta = await HTTP.PostAsync<Models.Usuario>("Usuario", "ValidarToken", usuario, true);
            
        }
        catch (Exception ex)
        {
             
        }

        
        StateHasChanged();
    }





}